<div class="var-container" style="height: 800px">

    <!--Top is het stukj waar de hand, Hp, mana, en spec power in staat -->
    <div class="GAMEenemy">
        <div class="GAMEenemyManaWrapper">
            <div class="GAMEenemyMana">
            </div>
            <div class="GAMEenemySpecial">
            </div>
        </div>
        <div class="GAMEenemyHand">
        </div>
        <div class="GAMEenemyHpWrapper">
        </div>
    </div>


    <!-- hier komt het veld waar de kaarten op gelegd worden -->
    <div class="GAMEfield border">
        <div class="GAMEfieldSection1 border">
            <div class="GAMEfieldSection1ENEMY"></div>
            <div class="GAMEfieldSection1SPACE"></div>
            <div class="GAMEfieldSection1CARD"></div>
        </div>

        <div class="GAMEfieldSection2">
            <div class="GAMEfieldSection1ENEMY"></div>
            <div class="GAMEfieldSection1SPACE"></div>
            <div class="GAMEfieldSection1CARD"></div>
        </div>

        <div class="GAMEfieldSection3">
            <div class="GAMEfieldSection1ENEMY"></div>
            <div class="GAMEfieldSection1SPACE"></div>
            <div class="GAMEfieldSection1CARD"></div>
        </div>

        <div class="GAMEfieldSection4">
            <div class="GAMEfieldSection1ENEMY"></div>
            <div class="GAMEfieldSection1SPACE"></div>
            <div class="GAMEfieldSection1CARD"></div>
        </div>

        <div class="GAMEfieldSection5">
            <div class="GAMEfieldSection1ENEMY"></div>
            <div class="GAMEfieldSection1SPACE"></div>
            <div class="GAMEfieldSection1CARD"></div>
        </div>

        <div class="GAMEfieldSection6">
            <div class="GAMEfieldSection1ENEMY"></div>
            <div class="GAMEfieldSection1SPACE"></div>
            <div class="GAMEfieldSection1CARD"></div>
        </div>

        <div class="GAMEfieldSection7">
            <div class="GAMEfieldSection1ENEMY"></div>
            <div class="GAMEfieldSection1SPACE"></div>
            <div class="GAMEfieldSection1CARD"></div>
        </div>

        <div class="GAMEfieldSection8">
            <div class="GAMEfieldSection1ENEMY"></div>
            <div class="GAMEfieldSection1SPACE"></div>
            <div class="GAMEfieldSection1CARD"></div>
        </div>
    </div>

</div>