<div class="var-container">

    <div class="panel panel-blue w15">
        <div class="panel-heading">
            <h3 class="panel-title">Filter</h3>
        </div>

        <div class="panel-body">

            <ul>
                <li><button type="button" ng-click="buttonClick('Lore')">Lore</button></li>
                <li><button type="button" ng-click="buttonClick('Rules')">Rules</button></li>
                <li><a href="#playMenu"><button type="button">Play!</button></a></li>
            </ul>

        </div>
    </div>



    <div class="One w60 border fLeft">
        <div class="title">
            <h1>{{title}}</h1>

            <p>{{content}}</p>

        </div>
    </div>

    <!--<div class="Two border fLeft">
        <div class="selectedDeckTitle">
            <h2>Selected deck: {{selectedDeck}}</h2>
        </div>

        <div class="selectedDeck">
        </div>

        <div class="editDeckDiv">
            <a href="#deckBuilder" ><button type="button">Edit Deck!</button></a>
        </div>

        <a href="#Deckbuilder" class="button" data-ng-click="selectDeck(deck)">
            <span>Edit Decks</span>
        </a>
    </div>

    <div id="Three">
        <a href="#play" ><button type="button">Play!</button></a>
    </div>-->

</div>