.GAMEwrapper {width: 100%; height: 100%; border: 1px solid black;}
.GAMEenemy {width: 100%; height: 20%; border: 1px solid blue;}
    .GAMEenemyManaWrapper {float: left; width: 20%; height: 100%; border: 1px solid green;}
    .GAMEenemyHand {float: left; width: 60%; height: 100%; border: 1px solid green;}
    .GAMEenemyHpWrapper {float: left; width: 20%; height: 100%; border: 1px solid green;}

.GAMEfield {width: 100%; height: 60%; border: 1px solid blue;}
    .GAMEfieldSection1 {float: left; width: 12%; height: 100%; border: 1px solid red;}
        .GAMEfieldSection1ENEMY {float: left; width: 100%; height: 40%; border: 1px solid black;}
        .GAMEfieldSection1SPACE {float: left; width: 100%; height: 10%; border: 1px solid black;}
        .GAMEfieldSection1CARD {float: left; width: 100%; height: 40%; border: 1px solid black;}

    .GAMEfieldSection2 {float: left; margin-left: 10px; width: 12%; height: 100%; border: 1px solid red;}
    .GAMEfieldSection3 {float: left; margin-left: 10px; width: 12%; height: 100%; border: 1px solid red;}
    .GAMEfieldSection4 {float: left; margin-left: 10px; width: 12%; height: 100%; border: 1px solid red;}
    .GAMEfieldSection5 {float: left; margin-left: 10px; width: 12%; height: 100%; border: 1px solid red;}
    .GAMEfieldSection6 {float: left; margin-left: 10px; width: 12%; height: 100%; border: 1px solid red;}
    .GAMEfieldSection7 {float: left; margin-left: 10px; width: 12%; height: 100%; border: 1px solid red;}
    .GAMEfieldSection8 {float: left; margin-left: 10px; width: 12%; height: 100%; border: 1px solid red;}