<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" href="css/index.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/card.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/panels.css" type="text/css" media="all" />

	

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>

	<script src="js/route.js" type="text/javascript"></script>

	<script src="js/app.module.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

	<script src="js/indexController.js" type="text/javascript"></script>
	<script src="homePage/homeController.js" type="text/javascript"></script>
	
	

	<!--<script src="js/DBService.js" type="text/javascript"></script>
	
	<script src="js/playMenuController.js" type="text/javascript"></script>
	<script src="theGamePage/theGameController.js" type="text/javascript"></script>
	<script src="cardBrowserPage/cardBrowserController.js" type="text/javascript"></script>
	<script src="js/selectraceController.js" type="text/javascript"></script>
	<script src="js/selectElementController.js" type="text/javascript"></script>
	<script src="js/gameWindowController.js" type="text/javascript"></script>
	-->
	

	<!-- components -->
	<script src="components/headerComponent/header.component.js" type="text/javascript"></script>


	<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>-->

</head>

<body ng-app="app">

	<my-input></my-input>

	<div class="container" ng-controller="indexController as myCtrl">

		<p> {{myCtrl.testVar}} </p>

        <!--<my-input name-label="Name:"
                  name-placeholder="name"
                  age-label="Age:"
                  age-placeholder="age"
                  on-click="myCtrl.addPerson(name, age)"
				  bla-var="{{myCtrl.testVar}}">
        </my-input>-->

		

        <!--<person-list persons="myCtrl.persons"></person-list>-->
    </div>

	<div class="INDEX-content" data-ng-view=""></div>

	<!--<div id="INDEXmain" class="container">

		<div id="chatbox" class="INDEX-chatBox">
			<div class="INDEX-chatbox-head">
				<h2>Chat</h2>
			</div>

			<div id="chatBox-content" class="INDEX-chatBox-content">
				<div id="chat-text" class="INDEX-chat-text">
					<div>Hello!</div>
				</div>

				<form id="chat-form" class="INDEX-chat-form">
					<input id="chat-input" class="INDEX-chat-input" type="text"></input>
				</form>
			</div>
		</div>


		<button ng-controller="indexController" ng-click="myFunction()" id="INDEX-dropbtn" class="btn-L btn-L-default INDEX-showChat">Chat</button>

	</div>

	-->

	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	
	<script src="/js/Chat.js"></script>
</body>

</html>