<div id="INDEXHEADER" class="INDEX-header">
    
    <div class="INDEX-logoDiv"></div>
    <div class="INDEX-navigation">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#theGame">The Game</a></li>
            <li><a href="#cardBrowser">Card browser</a></li>
            <li><a href="#Account">Account</a></li>
        </ul>
    </div>

    <div class="INDEX-loginDiv">
        <form style="vertical-align: center;">
            <div class="" style="width: 80px; float: left; margin-top: 5px;">
                <p class="" style="float: left">Username: &nbsp;</p>
                <p class="" style="float: left; margin-top: 3px;">Password: &nbsp;</p>
            </div>

            <div class="" style="width: 150px; float: left;">
                <input id="signDiv-username" type="text"></input>
                <input id="signDiv-password" type="password"></input>
            </div>

            <div style="float: left; width: 150px;">
                <button id="signDiv-signIn" class="btn-M btn-M-default">Sign In</button>
                <button id="signDiv-signUp" class="btn-M btn-M-default">Sign Up</button>
                <button id="signDivSignOut" class="btn-M btn-M-default">Sign Out</button>
            </div>
        </form>
    </div>

</div>

<!--<label for="name">{{ $ctrl.nameLabel }}</label>
<input id="name"
       ng-model="name"
       type="text"
       placeholder="{{ $ctrl.namePlaceholder }}">

<label for="age">{{ $ctrl.ageLabel }}</label>
<input id="age"
       ng-model="age"
       type="text"
       placeholder="{{ $ctrl.agePlaceholder }}">

<button ng-click="$ctrl.onClick({ name: name, age: age })">Add</button>

<button>{{$ctrl.blaVar}}</button>-->