<div class="var-container">

  <div ng-controller="loginController as loginCtrl">
        <header-component
            sign-in="loginCtrl.signIn(name, password)"
            sign-up="loginCtrl.signUp()"
            sign-out="loginCtrl.signOut()"
            var="loginCtrl.testVar">
        </header-component>
    </div>

  <div>
    <!--filter panel-->
    <div class="var-content" ng-controller="cardContentController as cardContentCtrl">

      <div class="panel panel-blue w15">
        <div class="panel-heading">
          <h3 class="panel-title">Filter</h3>
        </div>

        <div class="panel-body">
          <h4>Race</h4>
          <div ng-repeat="race in cardContentCtrl.cardRaces" id={{race.displayRace}} class="btn-M btn-M-lightGrey" style="margin-left: 2px;"
            ng-click="cardContentCtrl.filter('race', race.race)">
            <p>{{race.race}}</p>
          </div>

          <h4 style="clear:both">Element</h4>
          <div ng-repeat="element in cardContentCtrl.cardElements" id={{element.element}} class="btn-M btn-M-lightGrey" style="margin-left: 2px;"
            ng-click="cardContentCtrl.filter('element', element.element)">
            <p>{{element.element}}</p>
          </div>

          <h4 style="clear:both">Type</h4>
          <div ng-repeat="type in cardContentCtrl.cardTypes" id={{type.type}} class="btn-M btn-M-lightGrey" style="margin-left: 2px;"
            ng-click="cardContentCtrl.filter('type', type.type)">
            <p>{{type.type}}</p>
          </div>

          <h4 style="clear:both">Role</h4>
          <div ng-repeat="role in cardContentCtrl.cardRoles" id={{role.role}} class="btn-M btn-M-lightGrey" style="margin-left: 2px;"
            ng-click="cardContentCtrl.filter('role', role.role)">
            <p>{{role.role}}</div>
        </div>
      </div>

      <!--place where all card are getting loaded-->
      <div class="cardContainer w60">
        <!-- here starts the card file, css -->
        <div class="CARD-cardBrowser-cards">
          <ul>
            <li class=' hvr-grow-shadow' data-ng-repeat="card in cardContentCtrl.showCards" data-ng-click="addToDeckList(card)">
              <card-component card='card' class="CARD-main"></card-component>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--data-ng-repeat="product in products = (products | orderBy: 'productName') track by $index" data-ng-show="product.productName != products[$index - 1].productName"-->

    <div ng-controller="cardDecklistController as deckListCtrl">
      <decklist-component id="deckList" style="display: none;"></decklist-component>
    </div>
  </div>
</div>

<!--<div id="createDeckDiv">
        <div id="createDeckFrame" style="width:1000; height:500; float:left;">
            

<div class="card" data-ng-repeat="card in cards">
  <div class="wrapperInside">
    <div class="imageWrapper">
      <img src="/img/foto.jpg" style="width:100%; height:100%;"/>       
    <div class="nameWrapper">
      <p>{{card.race}}</p>
    </div> 
    <div class="priceWrapper" >
      <h2>sss</h2>
    </div> 
    <div class="descriptionWrapper">
      <p> Fire </p>
    </div> 
      <button id="addToDeck" data-ng-click="test()">Add card to deck</button>
    </div>
  </div>
</div>

        </div>
    </div>-->

<script>

</script>